## **Exercise 12.02**
### Binning the "area" Variable from the  Housing Dataset

### Importing modules

In [1]:
import pandas as pd
import altair as alt

### Loading data

In [2]:
file_url = 'https://raw.githubusercontent.com/fenago/DSBook/main/Chapter%207/Housing.csv'
df = pd.read_csv(file_url)

### Displaying first 5 entries

In [ ]:
df.head()

### Display the number of unique values on the column using .nunique():

In [ ]:
df['area'].nunique()

### Print a scatter plot using altair to visualize the number of records built per year. Specify area:O as the x-axis and count() as the y-axis in the .encode() method

In [ ]:
alt.Chart(df).mark_circle().encode(alt.X('area:O'), y='count()')

### Create a list called area containing all the unique values in the area column:

In [7]:
Area = df['area'].unique()


### Create a sorted list of unique values from Area's list

In [8]:
area_sorted = sorted(set(Area))

### Print the list of sorted areas

In [ ]:
area_sorted