### Activity 11.01

Analyzing Bikes Data Using Visual Data Analysis Techniques

Import the libraries

In [ ]:
import pandas as pd
import altair as alt
alt.data_transformers.disable_max_rows()

Loading the dataset

In [ ]:
df = pd.read_csv(r"dataset\bikes.csv")

Print out the dimensions of the DataFrame using .shape.

In [ ]:
df.shape

Check for duplicate rows by using .duplicated() and .sum() on all the columns.

In [ ]:
df.duplicated()

In [ ]:
df.duplicated().sum()

Check for unexpected values from each variable

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df['weather'].unique()

In [ ]:
df.loc[df['weather'] == 'one', 'weather']

data visualization with bar charts(temp variable)

In [ ]:
df.loc[df['weather'] == 'one', 'weather'] = "1"

In [ ]:
df.loc[df['weather'] == 'two', 'weather']

In [ ]:
df.loc[df['weather'] == 'two', 'weather'] = "2"

In [ ]:
df['weather'].unique()

Check the data type of the different columns using .dtypes.

In [ ]:
df.dtypes

Change the data types to categorical for the columns that don't contain numerical values using .astype().

In [ ]:
df['weather'] = df['weather'].astype('int')

In [ ]:
df.dtypes

Check for any missing values using .isna() and .sum() for each numerical variable.

In [ ]:
df.isna().sum()

Replace the missing values for each numerical variable with their corresponding mean or median values using .fillna(), .mean(), and .median().

In [ ]:
for col_name in df.select_dtypes(exclude="object").columns:
    col_median = df[col_name].median()
    df[col_name].fillna(col_median, inplace=True)
    print(col_name)
    print(col_median)

In [ ]:
df.isna().sum()