### Solved Activity 11.01

Analyzing Bikes Data Using Visual Data Analysis Techniques

Import the libraries

In [1]:
import pandas as pd
import altair as alt
alt.data_transformers.disable_max_rows()

C:\Users\Bhara\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Bhara\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\Bhara\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %

DataTransformerRegistry.enable('default')

Loading the dataset

In [2]:
df = pd.read_csv(r"dataset\bikes.csv")

Print out the dimensions of the DataFrame using .shape.

(10897, 12)

Check for duplicate rows by using .duplicated() and .sum() on all the columns.

0        False
1        False
2        False
3        False
4        False
         ...
10892     True
10893     True
10894     True
10895     True
10896     True
Length: 10897, dtype: bool

10

Check for unexpected values from each variable

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10897 entries, 0 to 10896
Data columns (total 12 columns):
datetime      10897 non-null object
season        10897 non-null int64
holiday       10897 non-null int64
workingday    10897 non-null int64
weather       10897 non-null object
temp          10893 non-null float64
atemp         10896 non-null float64
humidity      10894 non-null float64
windspeed     10897 non-null float64
casual        10896 non-null float64
registered    10894 non-null float64
count         10895 non-null float64
dtypes: float64(7), int64(3), object(2)
memory usage: 1021.7+ KB

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,01-01-2011 00:00,1,0,0,1,9.84,14.395,81.0,0.0,3.0,13.0,16.0
1,01-01-2011 01:00,1,0,0,1,NaN,13.635,80.0,0.0,8.0,32.0,40.0
2,01-01-2011 02:00,1,0,0,1,9.02,13.635,80.0,0.0,NaN,NaN,32.0
3,01-01-2011 03:00,1,0,0,one,9.84,14.395,75.0,0.0,3.0,10.0,13.0
4,01-01-2011 04:00,1,0,0,1,9.84,14.395,75.0,0.0,0.0,1.0,1.0

array(['1', 'one', '2', 'two', '3', '4'], dtype=object)

3    one
Name: weather, dtype: object

15    two
Name: weather, dtype: object

array(['1', '2', '3', '4'], dtype=object)

Check the data type of the different columns using .dtypes.

datetime       object
season          int64
holiday         int64
workingday      int64
weather        object
temp          float64
atemp         float64
humidity      float64
windspeed     float64
casual        float64
registered    float64
count         float64
dtype: object

Change the data types to categorical for the columns that don't contain numerical values using .astype().

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int32
temp          float64
atemp         float64
humidity      float64
windspeed     float64
casual        float64
registered    float64
count         float64
dtype: object

Check for any missing values using .isna() and .sum() for each numerical variable.

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          4
atemp         1
humidity      3
windspeed     0
casual        1
registered    3
count         2
dtype: int64

Replace the missing values for each numerical variable with their corresponding mean or median values using .fillna(), .mean(), and .median().

season
3.0
holiday
0.0
workingday
1.0
weather
1.0
temp
20.5
atemp
24.24
humidity
62.0
windspeed
12.998
casual
17.0
registered
118.0
count
145.0

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64