### Finding the Best Balancing Technique by Fitting a Classifier on the HealthCare Dataset

In [63]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,never smoked,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 439.3+ KB

In [4]:
Y = df.pop('stroke')

In [5]:
from sklearn.preprocessing import MinMaxScaler
minmax_scaler = MinMaxScaler()

In [6]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

num_cal = [i for i in df.select_dtypes(include=numerics)]
num_cal

['id', 'age', 'hypertension', 'heart_disease', 'avg_glucose_level']

In [7]:
for i in num_cal:
    df[i+"_scaled"] = minmax_scaler.fit_transform(df[i].values.reshape(-1,1))

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,id_scaled,age_scaled,hypertension_scaled,heart_disease_scaled,avg_glucose_level_scaled
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,formerly smoked,0.123214,0.816895,0.0,1.0,0.801265
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,never smoked,0.708205,0.743652,0.0,0.0,0.679023
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,never smoked,0.426015,0.975586,0.0,1.0,0.234512
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,smokes,0.824928,0.597168,0.0,0.0,0.536008
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,never smoked,0.021929,0.963379,1.0,0.0,0.549349

In [9]:
df.drop(columns=num_cal, axis=1, inplace=True)

In [10]:
df.head()

,gender,ever_married,work_type,Residence_type,smoking_status,id_scaled,age_scaled,hypertension_scaled,heart_disease_scaled,avg_glucose_level_scaled
0,Male,Yes,Private,Urban,formerly smoked,0.123214,0.816895,0.0,1.0,0.801265
1,Female,Yes,Self-employed,Rural,never smoked,0.708205,0.743652,0.0,0.0,0.679023
2,Male,Yes,Private,Rural,never smoked,0.426015,0.975586,0.0,1.0,0.234512
3,Female,Yes,Private,Urban,smokes,0.824928,0.597168,0.0,0.0,0.536008
4,Female,Yes,Self-employed,Rural,never smoked,0.021929,0.963379,1.0,0.0,0.549349

In [11]:
cat_cols = []

for i in df.select_dtypes(include="object"):
    cat_cols.append(i)
cat_cols

['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

In [12]:
df_cat = pd.get_dummies(df[cat_cols])

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0
1,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0
2,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0
3,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1
4,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0

In [14]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

num_cal = [i for i in df.select_dtypes(include=numerics)]
num_cal

['id_scaled',
 'age_scaled',
 'hypertension_scaled',
 'heart_disease_scaled',
 'avg_glucose_level_scaled']

In [15]:
df_num = df[num_cal]

In [16]:
X = pd.concat([df_cat, df_num], axis=1)
print(X.shape)

(5110, 21)

In [17]:
df.columns

Index(['gender', 'ever_married', 'work_type', 'Residence_type',
       'smoking_status', 'id_scaled', 'age_scaled', 'hypertension_scaled',
       'heart_disease_scaled', 'avg_glucose_level_scaled'],
      dtype='object')

In [18]:
Y.shape

(5110,)

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,random_state=123)

In [21]:
# Defining the LogisticRegression function
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

Accuracy of Logistic regression model test set: 0.96

[[1465    0]
 [  67    1]]
              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1465
           1       1.00      0.01      0.03        68

    accuracy                           0.96      1533
   macro avg       0.98      0.51      0.50      1533
weighted avg       0.96      0.96      0.94      1533

In [24]:
y_train.value_counts()

0    3396
1     181
Name: stroke, dtype: int64

Percentage of negative class : 1    5.060106
Name: stroke, dtype: float64
Percentage of positive class : 0    94.939894
Name: stroke, dtype: float64

### Implementing Random Undersampling and Classification on Our Healthcare Dataset to Find the Optimal Result

In [28]:
"""
Let us first join the train_x and train_y for ease of operation
"""
trainData = pd.concat([X_train,y_train],axis=1)

In [29]:
trainData.head()

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,...,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,id_scaled,age_scaled,hypertension_scaled,heart_disease_scaled,avg_glucose_level_scaled,stroke
2909,1,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0.079234,0.279785,0.0,0.0,0.143062,0
1237,1,0,0,0,1,1,0,0,0,0,...,0,0,1,0,0.224802,0.401855,0.0,0.0,0.099437,0
2335,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,0.789071,0.584961,0.0,0.0,0.238297,0
2750,1,0,0,0,1,0,0,0,1,0,...,0,1,0,0,0.715491,0.719238,0.0,0.0,0.161204,0
607,1,0,0,1,0,0,0,0,0,1,...,1,0,0,0,0.135016,0.020996,0.0,0.0,0.217985,0

In [31]:
ind = trainData[trainData['stroke']==1].index
print(len(ind))

181

In [32]:
minData = trainData.loc[ind]
print(minData.shape)

(181, 22)

In [33]:
ind1 = trainData[trainData['stroke']==0].index
print(len(ind1))

3396

In [34]:
majData = trainData.loc[ind1]
print(majData.shape)
majData.head()

(3396, 22)

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,...,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,id_scaled,age_scaled,hypertension_scaled,heart_disease_scaled,avg_glucose_level_scaled,stroke
2909,1,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0.079234,0.279785,0.0,0.0,0.143062,0
1237,1,0,0,0,1,1,0,0,0,0,...,0,0,1,0,0.224802,0.401855,0.0,0.0,0.099437,0
2335,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,0.789071,0.584961,0.0,0.0,0.238297,0
2750,1,0,0,0,1,0,0,0,1,0,...,0,1,0,0,0.715491,0.719238,0.0,0.0,0.161204,0
607,1,0,0,1,0,0,0,0,0,1,...,1,0,0,0,0.135016,0.020996,0.0,0.0,0.217985,0

In [35]:
majSample = majData.sample(n=len(ind),random_state = 123)

In [36]:
print(majSample.shape)
majSample.head()

(181, 22)

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,...,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,id_scaled,age_scaled,hypertension_scaled,heart_disease_scaled,avg_glucose_level_scaled,stroke
2888,1,0,0,0,1,1,0,0,0,0,...,1,0,0,0,0.419360,0.682617,0.0,0.0,0.158850,0
4143,1,0,0,0,1,0,0,1,0,0,...,1,0,0,0,0.852167,0.572754,0.0,0.0,0.280953,0
4430,1,0,0,0,1,1,0,0,0,0,...,0,1,0,0,0.835659,0.865723,1.0,0.0,0.233589,0
4215,1,0,0,1,0,0,0,0,0,1,...,1,0,0,0,0.704060,0.157715,0.0,0.0,0.384637,0
1215,1,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0.849643,0.499512,0.0,0.0,0.363032,0

In [37]:
"""
Concatenating both data sets and then shuffling the data set
"""
balData = pd.concat([minData,majSample],axis = 0)

In [38]:
# Shuffling the data set
from sklearn.utils import shuffle
balData = shuffle(balData)
balData.head()

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,...,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,id_scaled,age_scaled,hypertension_scaled,heart_disease_scaled,avg_glucose_level_scaled,stroke
147,1,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0.861691,0.951172,0.0,0.0,0.056181,1
219,0,1,0,0,1,1,0,0,0,0,...,0,0,1,0,0.430255,0.890137,0.0,1.0,0.759902,1
179,0,1,0,0,1,0,0,1,0,0,...,1,0,0,0,0.892484,0.987793,0.0,0.0,0.729850,1
1488,1,0,0,1,0,0,0,0,0,1,...,1,0,0,0,0.794341,0.060059,0.0,0.0,0.341104,0
55,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,0.353547,0.768066,0.0,1.0,0.653633,1

In [40]:
# Making the new X_train and y_train
X_trainNew = balData.iloc[:,0:21]
print(X_trainNew.head())
y_trainNew = balData['stroke']
print(y_trainNew.head())

      gender_Female  gender_Male  gender_Other  ever_married_No  \
147               1            0             0                0
219               0            1             0                0
179               0            1             0                0
1488              1            0             0                1
55                0            1             0                0

      ever_married_Yes  work_type_Govt_job  work_type_Never_worked  \
147                  1                   0                       0
219                  1                   1                       0
179                  1                   0                       0
1488                 0                   0                       0
55                   1                   0                       0

      work_type_Private  work_type_Self-employed  work_type_children  ...  \
147                   1                        0                   0  ...
219                   0                        0                   0  ...
179                   1                        0                   0  ...
1488                  0                        0                   1  ...
55                    1                        0                   0  ...

      Residence_type_Urban  smoking_status_Unknown  \
147                      1                       0
219                      0                       0
179                      1                       1
1488                     1                       1
55                       0                       0

      smoking_status_formerly smoked  smoking_status_never smoked  \
147                                0                            1
219                                0                            1
179                                0                            0
1488                               0                            0
55                                 1                            0

      smoking_status_smokes  id_scaled  age_scaled  hypertension_scaled  \
147                       0   0.861691    0.951172                  0.0
219                       0   0.430255    0.890137                  0.0
179                       0   0.892484    0.987793                  0.0
1488                      0   0.794341    0.060059                  0.0
55                        0   0.353547    0.768066                  0.0

      heart_disease_scaled  avg_glucose_level_scaled
147                    0.0                  0.056181
219                    1.0                  0.759902
179                    0.0                  0.729850
1488                   0.0                  0.341104
55                     1.0                  0.653633

[5 rows x 21 columns]
147     1
219     1
179     1
1488    0
55      1
Name: stroke, dtype: int64

In [41]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(X_trainNew, y_trainNew)

LogisticRegression()

In [42]:
pred = model1.predict(X_test)
print('Accuracy of Logistic regression model prediction on test set \
for balanced data set: {:.2f}'.format(model1.score(X_test, y_test)))

Accuracy of Logistic regression model prediction on test set for balanced data set: 0.71

[[1036  429]
 [  16   52]]
              precision    recall  f1-score   support

           0       0.98      0.71      0.82      1465
           1       0.11      0.76      0.19        68

    accuracy                           0.71      1533
   macro avg       0.55      0.74      0.51      1533
weighted avg       0.95      0.71      0.80      1533

In [ ]:
!pip install smote-variants --user

### Implementing SMOTE on Our HealthCare Dataset to Find the Optimal Result

In [44]:
# Shape before oversampling
print("Before OverSampling count of yes: {}".format(sum(y_train==1)))
print("Before OverSampling count of no: {} \n".format(sum(y_train==0)))

Before OverSampling count of yes: 181
Before OverSampling count of no: 3396

In [45]:
#!pip install smote-variants
import smote_variants as sv
import numpy as np

In [46]:
# Instantiating the SMOTE class
oversampler= sv.SMOTE()

In [47]:
# Creating new training set
X_train_os, y_train_os = oversampler.sample(np.array(X_train), np.array(y_train))

2022-04-23 14:32:20,134:INFO:SMOTE: Running sampling via ('SMOTE', "{'proportion': 1.0, 'n_neighbors': 5, 'n_jobs': 1, 'random_state': None}")

In [48]:
# Shape after oversampling
print('After OverSampling, the shape of train_X: {}'.format(X_train_os.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_os.shape))
print("After OverSampling, counts of label 'Yes': {}".format(sum(y_train_os==1)))
print("After OverSampling, counts of label 'no': {}".format(sum(y_train_os==0)))

After OverSampling, the shape of train_X: (6792, 21)
After OverSampling, the shape of train_y: (6792,)

After OverSampling, counts of label 'Yes': 3396
After OverSampling, counts of label 'no': 3396

In [49]:
# Training the model with Logistic regression model
from sklearn.linear_model import LogisticRegression
model2 = LogisticRegression()
model2.fit(X_train_os, y_train_os)

LogisticRegression()

In [50]:
pred = model2.predict(X_test)

C:\Users\Bhara\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [51]:
print('Accuracy of Logistic regression model prediction on \
test set for Smote balanced data set: {:.2f}'.format(model2.score(X_test, y_test)))

Accuracy of Logistic regression model prediction on test set for Smote balanced data set: 0.73

C:\Users\Bhara\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

[[1073  392]
 [  21   47]]

              precision    recall  f1-score   support

           0       0.98      0.73      0.84      1465
           1       0.11      0.69      0.19        68

    accuracy                           0.73      1533
   macro avg       0.54      0.71      0.51      1533
weighted avg       0.94      0.73      0.81      1533

### Implementing MSMOTE on Our Insurance Dataset to Find the Optimal Result

In [54]:
# Shape before oversampling
print("Before OverSampling count of yes: {}".format(sum(y_train==1)))
print("Before OverSampling count of no: {} \n".format(sum(y_train==0)))

Before OverSampling count of yes: 181
Before OverSampling count of no: 3396

In [55]:
# Instantiating the MSMOTE class
oversampler= sv.MSMOTE()

In [56]:
# Creating new training set
X_train_os, y_train_os = oversampler.sample(np.array(X_train), np.array(y_train))

2022-04-23 14:34:06,274:INFO:MSMOTE: Running sampling via ('MSMOTE', "{'proportion': 1.0, 'n_neighbors': 5, 'n_jobs': 1, 'random_state': None}")

In [ ]:
# Shape after oversampling
print('After OverSampling, the shape of train_X: {}'.format(X_train_os.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_os.shape))
print("After OverSampling, counts of label 'Yes': {}".format(sum(y_train_os==1)))
print("After OverSampling, counts of label 'no': {}".format(sum(y_train_os==0)))

In [57]:
# Training the model with Logistic regression model
from sklearn.linear_model import LogisticRegression
# Defining the LogisticRegression function
model3 = LogisticRegression()
model3.fit(X_train_os, y_train_os)

C:\Users\Bhara\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [58]:
pred = model3.predict(X_test)

C:\Users\Bhara\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [59]:
print("Accuracy of Logistic Regression on test set for MSMOTE balance dataset: {:.2f}".format(model3.score(X_test, y_test)))

Accuracy of Logistic Regression on test set for MSMOTE balance dataset: 0.77

C:\Users\Bhara\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

[[1139  326]
 [  26   42]]

              precision    recall  f1-score   support

           0       0.98      0.78      0.87      1465
           1       0.11      0.62      0.19        68

    accuracy                           0.77      1533
   macro avg       0.55      0.70      0.53      1533
weighted avg       0.94      0.77      0.84      1533