## **Practice Exercise 2.05:**

Fit a **Multiple** Linear Regression Model using the StatsModels Formula API:

### Import all  necessary modules:

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Loading Data

In [ ]:
Housing_data = pd.read_csv\
('https://raw.githubusercontent.com/fenago/DSBook/main/Chapter%202/Housing.csv')

# Write code to display first five entries:

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

### Check for null values in data set:

In [ ]:
#Inspecting the data types of the columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 59.6+ KB

### Calculate basic statistics for the numeric columns in the DataFrame:

,count,mean,std,min,25%,50%,75%,max
price,545.0,4.766729e+06,1.870440e+06,1750000.0,3430000.0,4340000.0,5740000.0,13300000.0
area,545.0,5.150541e+03,2.170141e+03,1650.0,3600.0,4600.0,6360.0,16200.0
bedrooms,545.0,2.965138e+00,7.380639e-01,1.0,2.0,3.0,3.0,6.0
bathrooms,545.0,1.286239e+00,5.024696e-01,1.0,1.0,1.0,2.0,4.0
stories,545.0,1.805505e+00,8.674925e-01,1.0,1.0,2.0,2.0,4.0
parking,545.0,6.935780e-01,8.615858e-01,0.0,0.0,0.0,1.0,3.0

### Divide the DataFrame into training and test sets

### Use the ***+*** operator of Patsy formula language to define a linear regression model for **price** (dependent Variable) on **stories,parking,area,bedrooms** (independent Variables).

### Use Fit method of the model instance:

### Write code to Print the summary here, which should be consistent with the given output

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.479
Model:                            OLS   Adj. R-squared:                  0.473
Method:                 Least Squares   F-statistic:                     86.40
Date:                Sun, 13 Mar 2022   Prob (F-statistic):           5.43e-52
Time:                        09:11:39   Log-Likelihood:                -5931.2
No. Observations:                 381   AIC:                         1.187e+04
Df Residuals:                     376   BIC:                         1.189e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   6.227e+04   3.32e+05      0.188      0.851    -5.9e+05    7.14e+05
stories     6.479e+05   8.94e+04      7.245      0.000    4.72e+05    8.24e+05
parking     4.419e+05   9.56e+04      4.624      0.000    2.54e+05     6.3e+05
area         388.6981     38.839     10.008      0.000     312.329     465.067
bedrooms    4.367e+05   1.06e+05      4.130      0.000    2.29e+05    6.45e+05
==============================================================================
Omnibus:                       51.091   Durbin-Watson:                   2.017
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              109.568
Skew:                           0.713   Prob(JB):                     1.61e-24
Kurtosis:                       5.206   Cond. No.                     2.59e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.59e+04. This might indicate that there are
strong multicollinearity or other numerical problems.